@page
@model ForgotPasswordModel

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@* 
<script>
    function validateEmail() {
        var emailInput = document.getElementById('Input_Email');
        var emailPattern = /[A-Za-z0-9._%+-]+@@st\.tvu\.edu\.vn/;
        if (!emailPattern.test(emailInput.value)) {
            alert('Vui lòng nhập địa chỉ email đúng định dạng theo email sinh viên (Mssv@@st.tvu.edu.vn)');
            return false; // Ngăn chặn gửi form
        }
        return true; // Cho phép gửi form
    }
</script> *@


    <!--  Body Wrapper -->
<div class="flex items-center justify-center">
    <div class="w-full max-w-md p-8 space-y-6 bg-white rounded-lg shadow-sm custom-margin-top">
        <div class="text-center">
            <a href="/Home" class="inline-flex justify-center items-center">
                <img src="~/Login_Register/src/assets/images/logos/logo_clb.png" alt="Logo CLB" class="w-44 mx-auto">
            </a>
            <p class="mt-4 text-lg font-semibold text-gray-700">Hi! I'm Hanh Trinh Sinh Vien Club</p>
        </div>
        <form id="account" method="post" class="space-y-6">
            <div asp-validation-summary="ModelOnly" class="text-sm text-red-600"></div>
            <div>
                <label for="exampleInputEmail1" class="block text-sm font-medium text-gray-700">Email (mssv@st.tvu.edu.vn)</label>
                <input type="email" id="exampleInputEmail1" required aria-required="true"
                       class="mt-1 mb-2 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                       asp-for="Input.Email">
                <span asp-validation-for="Input.Email" class="text-sm text-yellow-400">Lưu ý: Hãy nhập chính xác Email của bạn!</span>
            </div>
            <button id="login-submit" type="submit" style="background: #399cff; border-radius: 20px"
                    class="w-full flex justify-center py-2 px-4 mt-4 bg-blue-600 text-white font-medium rounded-md focus:outline-none focus:ring-2 ">
                Đặt lại mật khẩu
            </button>
            <div class="text-sm text-center">
                <a href="./Login" style="color: #399cff" class="font-medium">Quay lại</a>
            </div>
        </form>
    </div>
</div>
<style>
    .custom-margin-top {
    margin-top: 25px;
}

@@media (min-width: 1024px) {
    .custom-margin-top {
        margin-top: 80px;
    }
}

</style>

    <script src="~/Login_Register/src/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Login_Register/src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>





