@model Manage_CLB_HTSV.Models.DangKyHoatDong
@{
    if (User.IsInRole("Administrators"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
}

<h1>@ViewData["Title"]</h1>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}


<form asp-action="CapNhatMinhChung" method="post" enctype="multipart/form-data">
    <div>
        <label for="hoatDongId">Chọn hoạt động:</label>
        <select class="form-control" id="hoatDongId" name="hoatDongId">
            @foreach (var item in ViewBag.ActivityList)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>
@*     <div>
        <label for="minhChungLink">Nhập đường dẫn minh chứng:</label>
        <input type="text" id="minhChungLink" name="minhChungLink" class="form-control" />
    </div> *@
    <div>
        <label for="minhChungFile">Upload file minh chứng:</label>
        <input type="file" id="minhChungFile" name="minhChungFile" class="form-control" accept="application/pdf" />
    </div>

    <button type="submit" class="btn btn-primary">Cập nhật</button>
</form>
