@model Microsoft.AspNetCore.Identity.IdentityRole

@{
    if (User.IsInRole("Administrators"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
}

<h1>Delete Role</h1>

<p>Quay lại role: <strong>@Model.Name</strong>?</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
</form>

<a asp-action="Index">Quay lại</a>
